@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

a, a:hover{
    text-decoration: none;
}

/* ==========header-section css========== */
.header{
    
}
.navbar-brand img{
    width: 144px;
}
.bg-light{
    /* background: #fff !important; */
    border-bottom: 1px solid #979797;
}
.navbar-nav .nav-item{
    padding: 10px 15px;
}
.navbar-nav .nav-item .nav-link.active{
    color: #3c3c3bc7;
}
.navbar-nav .nav-item .nav-link{
    font-size: 16px;
    font-weight: 600;
    color: #3c3c3bc7;
    position: relative;
}
.navbar-nav .nav-item .nav-link:hover{
    color: #3BB44A;
}
.navbar-nav .nav-item .nav-link:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #3bb44ade;
    left: 0px;
    bottom: -17px;
    transform: scaleX(-.8);
    transition-duration: .5s;
    opacity: 0;
}
.navbar-nav .nav-item:hover .nav-link:after{
    opacity: 1;
    bottom: 6px;
}
/* ==========banner section css========== */
.banner-section{
    background: url("../img/zipify_home_bg.png") top center no-repeat;
    background-size: cover;
    background: linear-gradient(136.73deg, #4D8CE0 5.52%, #0A3A79 72.57%);
    padding: 130px 0px 50px;
    overflow: hidden;
}
.banner-img img{
    width: 640px;
}
.banner-inner img{}
.banner-inner h2{
    font-style: italic;
    font-size: 55px;
    line-height: 65px;
    margin: 20px 0px;
    color: #fff;
}
.banner-inner ul{}
.banner-inner ul li{
    font-size: 19px;
    line-height: 38px;
    color: #fff;
}
.bt{
    margin: 0 13px;
}
.btn-custom{
    font-size: 18px;
    background: #FF764B;
    color: #fff !important;
    border-color: #ff764b;
    padding: 14px 101px;
    border-radius: 0;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid transparent;
    transition: .5s;
}
.btn-custom:hover{
    border: 1px solid transparent;
    transform: translateY(-5px);
}
.ecommerce{
    padding: 80px 0px ;
    background-color: #fafafa;
}
.ecommerce h2{
    
    color: #3bb44a;
    font-size: 36px;
    letter-spacing: -0.6px;
    margin-top: 0;
    font-weight: 400;
}
.ecommerce p{
    font-size: 18px;
    font-weight: 500;
    line-height: 2;
    color: #75757e;
    margin-bottom: 20;
}
.ecommerce .btn-info{
    background-color: #3bb44a;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
    padding: 19px 50px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 2px;
    color: #ffffff;
    text-transform: uppercase;
    border: 1px solid transparent;
    transition: .5s;
}
.btn-info:hover {
    border: 1px solid transparent;
    transform: translateY(-5px);
}
.porducts{
    padding: 80px 0px;
}
.product-img{
    padding: 70px 43px;
    background-color: #fafafa;
    border: solid 1px #848484;
    text-align: center;
}
.porduct-inner{
    padding-left: 20px;
}
.porduct-inner p{
    max-width: 500px;
    font-size: 18px;
    font-weight: 500;
    line-height: 2;
    text-align: left;
    color: #75757e;
    margin-bottom: 20;
}
.porducts .btn-info{
    background-color: #3bb44a;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
    padding: 15px 50px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 2px;
    color: #ffffff;
    text-transform: uppercase;
    border: 1px solid transparent;
    transition: .5s;
}
footer{
    background-color: #f2f1f1;
    padding: 50px 0px 10px;
}
.footer-inner{}
.footer-inner h4{
    font-family: "GalanoGrotesque-SemiBold";
    color: #52525b;
    font-size: 29px;
}
.footer-inner ul{}
.footer-inner ul li a{
    font-size: 16px;
    color: #828286;
}
.footer-inner ul li a:hover{
    color: #3bb44a;
}
.footer-inner ul li a span{
    color: #4681d6;
}
.footer-inner ul li{
    font-size: 16px;
    color: #828286;
    list-style: none;
    padding: 7px 0px;
}
footer .brdr{
    width: 100%;
    height: 1px;
    background: #0A3A79;
}
.main-footer{
    padding-top: 50px;
}
.main-footer p{
    font-size: 16px;
    color: #828286;
}
.main-footer ul{}
.main-footer ul li{
    display: inline;
    list-style: none;
}
.main-footer ul li a{
    text-align: center;
}
.main-footer ul li a i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: #15a4fa;
    color: #fff;
}

/* ===========products========== */

/* ===========products section css========== */
.products1-section{
    background: linear-gradient(160deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(242,242,242,1) 50%,rgba(242,242,242,1) 100%);
    padding: 130px 0px 80px;
}
.products1-img{}
.products1-inner{}
.products1-inner h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 1.17;
    text-align: left;
    color: #3bb44a;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.products1-inner p{
    font-size: 18px;
    font-weight: 600;
    line-height: 2;
    text-align: left;
    color: #75757e;
}
/* ===========products-2 section css========== */
.porducts-2{
    padding: 80px 0px;
}
.product-2-img{
    padding: 70px 43px;
    background-color: #fafafa;
    border: solid 1px #848484;
    text-align: center;
}
.porduct-2-inner{
    padding-left: 20px;
    margin-top: 70px;
}
.porduct-2-inner p{
    max-width: 500px;
    font-size: 18px;
    font-weight: 500;
    line-height: 2;
    text-align: left;
    color: #75757e;
    margin-bottom: 20;
}
.porducts-2 .btn-info{
    background-color: #3bb44a;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
    padding: 15px 50px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 2px;
    color: #ffffff;
    text-transform: uppercase;
    border: 1px solid transparent;
    transition: .5s;
}


/* ===========about========== */
.about-section{
    background: linear-gradient(159deg, rgb(33 150 243 / 8%) 0%,rgb(76 175 80 / 4%) 50%,rgba(255,255,255,0.1) 50%,rgb(204 204 204 / 5%) 50%,rgb(204 204 204 / 0%) 90%);
    padding: 130px 0 80px;
}
.about-inner{}
.about-inner p{
    font-size: 18px;
    font-weight: 600;
    line-height: 2.1;
    text-align: left;
    color: #75757e;
    margin-top: 50px;
}
.about-section .custom{
    background-color: #3bb44a !important;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
    padding: 15px 30px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 2px;
    color: #ffffff;
    text-transform: uppercase;
    transition: .5s;
}
.about-section .custom:hover{
    transform: translateY(-5px);
}
.about-inner h2{
    font-size: 26px;
    font-weight: 600;
    text-transform: capitalize;
    color: #56565E;
}
.about-img{}
.about-img img{
    height: 600px;
}
.about-2-section{
    padding: 130px 0 0px;
}
.about-2-section a{
    font-size: 18px;
    color: #40B252;
}

.form-control {
    padding: 14px 30px;
    font-weight: 600;
    width: 75%;
    margin-left: auto;
    display: block;
}

.contact_section{
	background: #52535e;
	padding: 60px 0 90px;
}

.contact_section h3 {
    color: #fff;
    font-size: 26px;
    font-weight: 500;
}

.contact_section h1 {
	font-size: 32px;
    font-weight: 700;
    color: #fff;
    margin: 20px auto;
    max-width: 911px;
    padding-bottom: 10px;
}
.btn-primary {
    color: #fff;
    background-color: #4CAF50;
    border-color: #4CAF50;
    padding: 15px 40px;
    display: block;
    box-shadow: 5px 10px 18px #8888882b;
}
.contact2_inner{
	width: 100%;
	position: relative;
}
.contact2_section{
	padding: 40px 0px;
	width: 100%;
}

.contact_text {
    position: absolute;
    top: 33%;
    right: 11%;
}

.contact_text p {
    max-width: 356px;
    margin: 30px 0 0;
    color: #4f7384;
    font-weight: 500;
}

.contact2_section .logopic{
	width: 180px;
}

.contact2_section .contact_inner {
    margin-top: 60px;
}
/* ==========blog========== */
.blog-section{
    padding: 75px 0px 60px;
}
.filter{
    margin:20px 0px;
}
.item{
    margin-bottom: 30px;
    transition: .5s;
}
.item:hover{
    transform: scaleX(1.1);
}
.item img{}
.brdr{
    width: 100%;
    height: 10px;
    background: #fdd835;
}
.blog-content{
    background-color: #ededed;
    padding: 30px;
}
.blog-content p{
    color: #17383f;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.5;
}
.blog-section .btn-custo{
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    color: #fff;
    background-color: #4CAF50;
    border: 1px solid transparent;
    margin-right: 10px;
    transition: .5s;
    border-radius: 0px;
}
.blog-section .btn-custo.active{
    color: #4CAF50;
    background-color: #fff;
    border: 1px solid #4CAF50;
}
.blog-section .btn-custo:focus, .blog-section .btn-custo:hover{
    color: #4CAF50;
    background-color: #fff;
    border: 1px solid #4CAF50;
    box-shadow: none;
}